@import '~office-ui-fabric-react/dist/sass/References.scss';


// Copy this to every web part for standard theme support
// VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV



// define variables first
//https://docs.microsoft.com/en-us/sharepoint/dev/spfx/use-theme-colors-in-your-customizations#available-theme-tokens-and-their-occurances
$themePrimary: '[theme:themePrimary, default:#0078d7]';
$themeWhite: '[theme:white, default:white]';

.fpsMainErrBlock {
  display: grid;
  justify-items: center;
  background: yellow;
  padding: 20px 20px 50px 20px;

  h2 {
    font-size: xx-large;
  }

  li {
    color: red;
    font-size: 20px;
    font-weight: 600;
  }
}

//https://docs.microsoft.com/en-us/sharepoint/dev/spfx/use-theme-colors-in-your-customizations#available-theme-tokens-and-their-occurances
$themePrimary: '[theme:themePrimary, default:#0078d7]';
// $themeWhite: '[theme:white, default:white]';

.fpsSiteThemeDark {
  background-color: $ms-color-themeDark;
  color: $ms-color-white;
}

.fpsSiteThemeLight {
  background-color: $ms-color-themeLight;
  color: $ms-color-themeDark;
}

.fpsSiteThemePrimary {
  background-color: $ms-color-themePrimary;
  color: $ms-color-white !important ;
}

// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
// Copy this to every web part for standard theme support



.powerSearch {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  .searchGrid {
    display: grid;
    grid-gap: 15px;

    .heading {
      display: flex;
      justify-content: space-evenly;
      font-size: 18px;
      font-weight: 500;
      height: 50px;

      .headingText {
        transform: translateY(30%);
      }
      i {
        transition:all 0.3s ease;
        font-weight: 600;
        font-size: 24px;
        padding: 10px;
        cursor: pointer;
      }
    }

    .heading:hover {
      i {
        transition:all 0.3s ease;
        font-size: 38px;
        font-weight: 600;
        // padding: 10px;
      }
    }

    .buttonGrid {
      display: grid;
      grid-gap: 5px;
      grid-auto-flow: column;
      justify-items: center;
      align-items: center;

      button {
        outline: transparent;
        position: relative;
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;

        font-weight: 400;
        box-sizing: border-box;
        border: 1px solid rgb(0, 84, 149);
        display: inline-block;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        padding: 0px 20px;
        border-radius: 2px;
        min-width: 80px;

        background-color: rgb(0, 84, 149);
        color: rgb(255, 255, 255);
        max-width: 100%;
        vertical-align: top;
        user-select: none;


        font-size: 18px;
        height: 3em;
        margin: 0px 5px;
      }
    }
  }
}

.links {
  // a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  // }
}