// .rootButton {
//   outline: transparent;
//   position: relative;
//   font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
//   -webkit-font-smoothing: antialiased;

//   font-weight: 400;
//   box-sizing: border-box;
//   border: 1px solid rgb(0, 84, 149);
//   display: inline-block;
//   text-decoration: none;
//   text-align: center;
//   cursor: pointer;
//   padding: 0px 20px;
//   border-radius: 2px;
//   min-width: 80px;

//   background-color: rgb(0, 84, 149);
//   color: rgb(255, 255, 255);
//   max-width: 100%;
//   vertical-align: top;
//   user-select: none;


//   font-size: 18px;
//   height: 3em;
//   margin: 0px 5px;
// }

.rootTxt {
  outline: transparent;
  position: relative;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid rgb(0, 84, 149);
  display: inline-block;
  text-decoration: none;
  text-align: left;
  padding: 0px 20px;
  border-radius: 2px;
  min-width: 600px;
  height: 40px;
  max-width: 100%;
  vertical-align: top;
}